<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sv.ordermobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- login activity -->
        <activity android:name=".LoginActivity" >
        </activity>

        <!-- navigation activity -->
        <activity android:name=".NavigationActivity">

        </activity>

        <!-- client select activity -->
        <activity android:name=".ClientSelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--item list activity-->
        <activity android:name=".ItemListActivity">


        </activity>
    </application>

</manifest>
